  <!-- nav bar: scrape nyt, clear scrapes, home, saved buttons (2 buttons, 2 links, 1 home href)-->
    <!-- title -->
    <div class="header">
        <h1>New York Times Scraper</h1>

        <ul class="links">
            <li class="date"></li>
            <li class="github"> <a href="http://www.github.com/gelissa" target="_blank">GitHub</a></li>
            <li class="portfolio"> <a href="https://gelissa.github.io/gelissaPortfolio/" target="_blank">Portfolio</a>
            </li>
        </ul>

        <hr class="topLine">

        <div class="btnDiv">
            <button class="scrape">Scrape Articles</button>
            <button class="clear">Clear Articles</button>
        </div>

        <!-- <hr class="midLine"> -->

    </div>
    <!-- div for scraped articles -->
    <!-- maybe dynamically create here -->
    <div class="articles">
        <!-- make a note for each article, adds to the note collection (get all from id) -->
        <span class="scrapedArticles"></span>
    </div>